@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Inter";
    padding: 0;
    margin: 0;
}
main {
    background-color: #FAFAFA;
    margin: 0 auto;
    max-width: 1440px;
}
.navbar {
    background-color: #104DE5;
    color: #FAFAFA;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            margin-right: 25px;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 45px;

            li {
                font-size: 26px;

                a {
                    color: #FAFAFA;
                    text-decoration: none;
                    cursor: pointer;
                }

                a:hover {
                    font-weight: 700;
                    
                }
            }
        }

        .country {
            margin-left: 120px;

            select {
                background-color: transparent;
                border: none;
                color: #FAFAFA;
                font-size: 26px;

                option {
                    color: #373737;
                    border: none;
                }
            }

            select:focus-visible {
                outline: 0;
            }
        }
    }
    
}

.quienes-somos {
    background-image: url(../img/bg-quienes-somos.png);
    height: 710px;    
    background-position: bottom center;
    background-repeat: no-repeat;    

    .encabezado {
        margin: auto;
        width: fit-content;
        text-align: center;
        font-weight: 700;
        font-size: 54px;
        padding-top: 210px;

        h1 {
            margin: 0;
            line-height: .9;
        }
    }

    .bajada {
        margin: auto;
        width: fit-content;
        font-size: 26px;
        margin-top: 20px;
        text-align: center;
    }
}

.servicios {
    .container-1 {
        display: flex;
        width: 100%;
    }

    .content-left {
        flex: 1;
        font-size: 100px;
        font-weight: 500;
        color: #010101;
        padding: 50px;
        text-wrap: balance;

        .paragraph {
            
            .azul {
                color: #104DE5;
            }

            .underline {
                border-bottom: 10px solid;
                margin-right: 15px;                
                line-height: 1.4;
            }
        }

        .aclaracion {
            font-size: 22px;
            max-width: 500px;
            padding: 20px 10px;
            margin-bottom: 50px;
            text-wrap: wrap;
        }
    }

    .content-right {
        flex: 1;
        background-image: url(../img/bg-servicios.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;      
        
        .texto-main {
            color: #010101;
            font-size: 26px;
            padding: 80px 40px;
            max-width: 410px;
            text-align: center;
            background-color: #FAFAFA;
            border: 1px solid #104DE5;
            box-sizing: border-box;
            position: relative;
            top: 180px;
            left: -150px;
        }

        .pie-texto {
            color: #FAFAFA;
            background-color: #104DE5;
            max-width: 400px;
            font-weight: 700;
            font-size: 26px;
            padding: 20px 10px;
            text-align: center;
            text-wrap: balance;
            position: relative;
            box-sizing: border-box;
            left: -170px;
            top: 130px;
        }
    }

    .service-description {
        font-size: 26px;
        max-width: 610px;
        color: #373737;
        background-color: #FAFAFA;
        border: 1px solid #EAEAEA;
        margin: 40px auto 0px;
        position: relative;
        top: -120px;
        text-align: center;
        box-sizing: content-box;
        padding: 30px 50px;
        margin-bottom: -30px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: auto;
        background-image: url(../img/bg-grid-servicios.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-left: 75px;
    }
    
    .grid-item {        
        color: #fafafa;        
        text-align: left;
        font-size: 24px;  
        height: 160px;                
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
        
        span {
            padding: 5px;
            background-color: #373737;
            display: inline-block;  /* Asegura que el fondo se ajuste al contenido */
            max-width: fit-content;  /* Evita que el contenido desborde */
            word-wrap: break-word;  /* Asegura que las palabras largas se ajusten al ancho */              
        }
    }
    
    /* Fila 3: El segundo elemento ocupa 2 columnas */
    .wide-item {
        grid-column: span 2;
    }    
}

.staff {
    margin-top: 50px;

    .container {
        display: flex;
        margin: auto;
        gap: 20px;
        padding: 20px 75px;
        justify-content: center;
        align-items: flex-end;

        .member {
            display: flex;
            flex-direction: column;
            width: 308px;
            

            .description {
                color: #FAFAFA;
                font-size: 26px;
                background-color: #010101;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 15px 0px;
                line-height: 1;

                span {
                    font-weight: 700;
                }
            }
        }
    }
    .bg-staff {
        background-image: url(../img/bg-staff.png);
        height: 230px;
        background-repeat: no-repeat;
        background-position: right;
        margin: auto;
    }
}

.locations {
    background-color: #010101;

    .argentina {
        position: relative;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        top: -225px;
        left: 440px;
        z-index: 999;
    }

    .chile {
        position: relative;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        top: -220px;
        left: 400px;
        z-index: 999;
    }

    .colombia {
        position: relative;
        width: 10px;
        height: 10px;
        background-color: red;
        border-radius: 50%;
        top: -315px;
        left: 410px;
        z-index: 999;
    }
}

.contacto {
    background-color: #010101;
    color: #FAFAFA;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        .info-contacto {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 27px;
                font-weight: 700;
                background-color: #104DE5;
                padding: 5px;
                width: fit-content;
                line-height: .8;
            }

            .contenedor {

                .texto {
                    font-size: 26px;
                    max-width: 340px;
                    margin-top: 30px;
                    margin-bottom: 60px;
                }

                .mail {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-size: 22px;
                }

                .ubicacion {
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    font-size: 22px; 
                    margin-top: 45px;                  
                }
            }
        }
    }
}

.footer {
    display: flex;
    background-color: #104DE5;    
    margin: 0 auto;
    align-items: center;
    color: #FAFAFA;
    justify-content: space-around;
    gap: 50px;
    padding: 15px 0 5px;

    .texto {
        font-size: 22px;
    }

    .redes {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
    }
}