@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Inter";
    padding: 0;
    margin: 0;
}
main {
    background-color: #FAFAFA;
    margin: 0 auto;
    max-width: 1440px;
}

.hidden-dk {
    display: none;
}

@media (max-width: 768px) {
    main {
        max-width: 100%;
    }    
    
    .hidden-mb {
        display: none;
    }
}
.navbar {
    background-color: #104DE5;
    color: #FAFAFA;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            margin-right: 45px;
        }       

        ul {
            list-style: none;
            display: flex;
            gap: 25px;
            padding: 0;
        }

        ul li {
            font-size: 26px;
            text-wrap: nowrap;
            max-width: 200px;
        }

        ul li a {
            color: #FAFAFA;
            text-decoration: none;
            cursor: pointer;
            padding: 5px 10px; 
            min-width: 120px; 
            max-width: 230px;
            text-align: center;
            display: inline-block;
            transition: font-weight 0.3s ease;
        }

        ul li:nth-child(3) {
            margin-left: -40px;
            margin-right: -40px;
        }

        ul li:nth-child(4) {
            max-width: 260px;
            display: flex; 
            justify-content: center;
            margin-right: -15px;
        }

        ul li:nth-child(4) a {
            min-width: 260px; 
        }

        ul li a:hover {
            font-weight: 700;
        }   

        .country-select {
            position: relative;
            width: fit-content;
            cursor: pointer;
            margin-left: 60px;
        }
        
        .country-select .selected {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #104DE5;
            color: #FAFAFA;
            padding: 10px;
            font-size: 26px;
        }

        .country-select .selected:hover {
            background-color: #124CDE;
        }
        
        .country-select .selected img {
            width: 58px;
        }

        .country-select .selected .dropdown {
            width: 20px;
            margin-left: 8px;
            margin-top: 5px;
            border: none;
        }
        
        .country-select .options {
            display: none;
            position: absolute;
            top: 100%;
            left: 0px;
            width: 158px;
            background-color: #FAFAFA;
            border: 1px solid #EAEAEA;
            max-height: 150px;
            overflow-y: visible;
            z-index: 1000;
            margin: 0;
            flex-direction: column;
            align-items: center;
            gap: 0;
        }
        
        .country-select .options li {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            color: #373737;
            width: 100%;
            font-size: 26px;
            font-weight: 600;
            box-sizing: border-box;
        }
        
        .country-select .options li:hover {
            background-color: #DBDBDB;
        }
        
        .country-select .options li img {
            width: 58px;
            margin-right: 10px;
        }
        .country-select .options li img.dropdown {
            display: none;
        }
        
    }
}

@media (max-width: 768px) {

    .navbar {

        .container {
            width: 100%;
            justify-content: space-between;

            .logo {
                margin-left: 35px;

                img {
                    width: 70%;
                }
            }

            .hamburguer {
                display: block;
                cursor: pointer;
                margin-right: 35px;

                span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: #FAFAFA;
                    margin: 5px 0;
                    transition: 0.4s;
                }
            }
        }
    }

}

.quienes-somos {
    background-image: url(../img/bg-quienes-somos.png);
    height: 710px;    
    background-position: bottom center;
    background-repeat: no-repeat;    

    .encabezado {
        margin: auto;
        width: fit-content;
        text-align: center;
        font-weight: 700;
        padding-top: 185px;

        h1 {
            margin: 0;
            line-height: .9;
            font-size: 54px;
        }
    }

    .bajada {
        margin: auto;
        width: fit-content;
        font-size: 26px;
        margin-top: 30px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .quienes-somos {
        background-image: url(../img/bg-quienes-somos-mb.png);
        background-position: top;
        height: 600px;
        background-size: 100%;

        .encabezado {
            padding-top: 250px;

            h1 {
                font-size: 30px;
            }
        }

        .bajada {
            font-size: 15px;
        }
    }
}

.servicios {
    .container-1 {
        display: flex;
        width: 100%;
    }

    .content-left {
        flex: 1;
        font-size: 100px;
        font-weight: 500;
        color: #010101;
        padding: 50px;
        text-wrap: balance;

        .paragraph {
            
            .azul {
                color: #104DE5;
            }

            .underline {
                border-bottom: 10px solid;
                margin-right: 15px;                
                line-height: 1.4;
            }
        }

        .aclaracion {
            font-size: 22px;
            max-width: 500px;
            padding: 20px 10px;
            margin-bottom: 50px;
            text-wrap: wrap;
            font-weight: 600;
        }
    }

    .content-right {
        flex: 1;
        background-image: url(../img/bg-servicios.gif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;      
        
        .texto-main {
            color: #010101;
            font-size: 26px;
            padding: 80px 40px;
            max-width: 410px;
            text-align: center;
            background-color: #FAFAFA;
            border: 1px solid #104DE5;
            box-sizing: border-box;
            position: relative;
            top: 180px;
            left: -150px;
        }

        .pie-texto {
            color: #FAFAFA;
            background-color: #104DE5;
            max-width: 400px;
            font-weight: 700;
            font-size: 26px;
            padding: 20px 10px;
            text-align: center;
            text-wrap: balance;
            position: relative;
            box-sizing: border-box;
            left: -170px;
            top: 130px;
        }
    }

    .service-description {
        font-size: 26px;
        max-width: 610px;
        color: #373737;
        background-color: #FAFAFA;
        border: 1px solid #EAEAEA;
        margin: 40px auto 0px;
        position: relative;
        top: -120px;
        text-align: center;
        box-sizing: content-box;
        padding: 30px 50px;
        margin-bottom: -30px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px 20px;
        margin: auto;
        background-image: url(../img/bg-grid-servicios.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0px 70px;
        
    }
    
    .grid-item {        
        color: #fafafa;        
        text-align: left;
        font-size: 24px;  
        height: 160px;                
        display: flex;
        flex-direction: column;
        text-wrap: nowrap;
        cursor: default;
        
        span {
            padding: 0px 5px;
            background-color: #373737;
            display: inline-block;  /* Asegura que el fondo se ajuste al contenido */
            max-width: fit-content;  /* Evita que el contenido desborde */
            word-wrap: break-word;  /* Asegura que las palabras largas se ajusten al ancho */              
        }
    }
    .full-stack-description,
    .soporte-sap-description,
    .sap-basis-description,
    .factory-abap-description,
    .consultoria-sap-description,
    .sap-cloud-description,
    .sap-security-description,
    .capacitacion-description,
    .ciberseguridad-description,
    .consultoria-description,
    .sap-solution-description {
        display: none;
        color: #373737;
        text-wrap: wrap;
        font-size: 15px;
        padding: 10px 10px 5px 0px;
    }

    .consultoria-description {
        text-wrap: balance;
    }

    .full-stack:hover span,    
    .soporte-sap:hover span,
    .sap-basis:hover span,
    .factory-abap:hover span,
    .consultoria-sap:hover span,
    .sap-cloud:hover span,
    .sap-security:hover span,
    .capacitacion:hover span,
    .ciberseguridad:hover span,
    .consultoria:hover span,
    .sap-solution:hover span{
        background-color: #104DE5;
    }

    .full-stack:hover .full-stack-description,
    .soporte-sap:hover .soporte-sap-description,
    .sap-basis:hover .sap-basis-description,
    .factory-abap:hover .factory-abap-description,
    .consultoria-sap:hover .consultoria-sap-description,
    .sap-cloud:hover .sap-cloud-description,
    .sap-security:hover .sap-security-description,
    .capacitacion:hover .capacitacion-description,
    .ciberseguridad:hover .ciberseguridad-description,
    .consultoria:hover .consultoria-description,
    .sap-solution:hover .sap-solution-description {
        display: block;        
    }
    
    /* Fila 3: El segundo elemento ocupa 2 columnas */
    .wide-item {
        grid-column: span 2;
        position: relative;
        left: 25%;
        width: fit-content;
    }    
}

@media (max-width: 768px) {
    .servicios {
        
        .container-1 {
            flex-direction: column;

            .content-left{
                padding: 20px;

                .paragraph {
                    font-size: 28px;
                    text-align: center;
                    text-wrap: pretty;
                    font-weight: 600;

                    .underline {
                        border-bottom: 1.5px solid;
                        margin-right: 5px;
                        
                    }
                }

                .aclaracion {
                    font-size: 15px;
                    text-align: center;
                    margin-bottom: 0;
                }

            }

            .content-right {
                margin-left: 15%;
                flex: none;
                height: 450px;

                .texto-main {
                    font-size: 15px;
                    max-width: 240px;
                    left: -30px;
                    top: 60px;
                    padding: 30px 20px;
                }

                .pie-texto {
                    font-size: 15px;
                    top: 35px;
                    left: -40px;
                    max-width: 240px;
                    padding: 10px 5px;
                }
            }
        }

        .service-description {
            font-size: 15px;
            border: none;
            padding-bottom: 0px;
        }

        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            gap: 35px 60px;
            background-position: center 225px;
            padding: 0px 40px;
        }

        .grid-item {
            font-size: 12px;
            font-weight: 700;
            height: 70px;
        }

        .full-stack-description,
        .soporte-sap-description,
        .sap-basis-description,
        .factory-abap-description,
        .consultoria-sap-description,
        .sap-cloud-description,
        .sap-security-description,
        .capacitacion-description,
        .ciberseguridad-description,
        .consultoria-description,
        .sap-solution-description {
            font-size: 10px;
        }

        .wide-item {
            grid-column: span 1;
            left: 0;
        }

        .sap-solution {
            grid-column: span 2;            
            max-width: 165px;
            margin: auto;
        }
    }
}

.staff {
    margin-top: 50px;

    .container {
        display: flex;
        margin: auto;
        gap: 20px;
        padding: 20px 75px 0px;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        top: 5px;

        .member {
            display: flex;
            flex-direction: column;
            width: 308px;
            

            .description {
                color: #FAFAFA;
                font-size: 26px;
                background-color: #010101;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 15px 0px;
                line-height: 1;

                span {
                    font-weight: 700;
                }
            }
        }
    }
    .bg-staff {
        background-image: url(../img/bg-staff.png);
        height: 230px;
        background-repeat: no-repeat;
        background-position: right;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .staff {

        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            .member {
                width: 150px;

                .description {
                    font-size: 14px;

                    span {

                    }
                }
            }
        }

        .bg-staff {
            background-image: url(../img/bg-staff-mb.png);            
            background-size: auto;
            background-position: center left;
            height: 210px;
        }
    }
}

.clientes {
    background-color: #010101;
    margin-top: -70px;
    padding: 100px;

    .paragraph {
        font-size: 26px;
        color: #FAFAFA;
        margin: auto;
        text-align: center;
        max-width: 700px;
        padding: 20px;

        span {
            font-weight: 700;
        }
    }

    .slider {
        position: relative;
        width: 100%;                
        overflow: hidden;
        margin-top: 80px;
        
        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;

            .slide {
                min-width: 100%;
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-position: center;
            }
            
            .icons {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }
    
            .icons .icon {
                width: 160px;
                height: 160px;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
            }

            
        }
        .dots {
            display: flex;
            justify-content: center;
            margin-top: 40px;            
        }

        .dot {
            width: 15px;
            height: 15px;
            margin: 0 5px;
            background-color: #949494;
            border-radius: 50%;
            cursor: pointer;
        }

        .dot.active {
            background-color: #104DE5;
            width: 30px;
            border-radius: 50px;
        }

        .arrow {
            position: absolute;
            top: 35%;
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            user-select: none;
            background-image: url(../img/arrow.png);
            background-size: contain;
            z-index: 999;
        }
        
        .arrow.left {
            left: 10px;
            transform: rotate(180deg);
        }

        .arrow.right {
            right: 10px;
        }

        .arrow:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }

    
}

@media (max-width: 768px) {
    
    .clientes {
        padding: 20px;

        .paragraph {
            font-size: 15px;
        }

        .slider {
            margin-top: 20px;

            .slides {

                .slide {
                    display: grid;
                    grid-template-columns: repeat(2, 130px);
                    
                    .icons {

                        .icon {
                            width: 110px;
                            height: 60px;
                            margin: 0;
                            border: solid 1px #373737;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }    
}

.bg-slide-1,
.bg-slide-2 {
    background-image: url(../img/bg-slider-1.png);
    height: 80px;
    width: 100%;
    background-size: contain;
    background-color: #010101;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
} 

.bg-slide-2 {
    background-image: url(../img/bg-slider-2.png);
    background-size: cover;
}

.locations {
    background-color: #010101;

    .argentina {
        position: relative;
        width: 26px;
        height: 24px;
        background-image: url(../img/icono-pais.png);
        top: -230px;
        left: 435px;
        z-index: 9999;
    }
    .argentina-description {
        display: none;
    }
    .argentina:hover .argentina-description {
        display: flex;
        flex-direction: column;
        width: fit-content;

        .pais {
            display: flex;
            background-color: #FAFAFA;
            color: #373737;
            align-items: center;
            font-size: 35px;
            font-weight: 600;
            position: relative;
            left: 25px;
            padding-right: 10px;
            width: fit-content;

            img {
                width: 75px;
                height: 40px;
            }
        }

        .since {
            font-size: 25px;
            color: #FAFAFA;
            background-color: #104DE5;
            text-wrap: nowrap;
            font-weight: 700;
            padding: 5px 10px;
            text-align: center;
            position: relative;
            left: 25px;
        }
    }

    .chile {
        position: relative;
        width: 26px;
        height: 24px;
        background-image: url(../img/icono-pais.png);
        top: -240px;
        left: 395px;
        z-index: 999;
    }
    
    .chile-description {
        display: none;
    }

    .chile:hover .chile-description {
        display: flex;
        flex-direction: column;
        width: fit-content;

        .pais {
            display: flex;
            background-color: #FAFAFA;
            color: #373737;
            align-items: center;
            font-size: 35px;
            font-weight: 600;
            position: relative;
            left: -135px;
            top: -18px;
            padding-right: 10px;
            width: fit-content;

            img {
                width: 75px;
                height: 40px;
            }
        }

        .since {
            font-size: 25px;
            color: #FAFAFA;
            background-color: #104DE5;
            text-wrap: nowrap;
            font-weight: 700;
            padding: 5px 10px;
            text-align: center;
            position: relative;
            left: -237px;
            top: -18px;
        }
    }

    .colombia {
        position: relative;
        width: 26px;
        height: 24px;
        background-image: url(../img/icono-pais.png);
        top: -345px;
        left: 400px;
        z-index: 999;
    }
    .colombia-description {
        display: none;
    }

    .colombia:hover .colombia-description {
        display: flex;
        flex-direction: column;
        width: fit-content;

        .pais {
            display: flex;
            background-color: #FAFAFA;
            color: #373737;
            align-items: center;
            font-size: 35px;
            font-weight: 600;
            position: relative;
            left: 27px;
            top: -50px;
            padding-right: 10px;
            width: fit-content;

            img {
                width: 75px;
                height: 40px;
            }
        }

        .since {
            font-size: 25px;
            color: #FAFAFA;
            background-color: #104DE5;
            text-wrap: nowrap;
            font-weight: 700;
            padding: 5px 10px;
            text-align: center;
            position: relative;
            left: 26px;
            top: -50px;
        }
    }
}

.contacto {
    background-color: #010101;
    color: #FAFAFA;
    
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;

        .info-contacto {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 27px;
                font-weight: 700;
                background-color: #104DE5;
                padding: 5px;
                width: fit-content;
                line-height: .8;
            }

            .contenedor {

                .texto {
                    font-size: 26px;
                    max-width: 340px;
                    margin-top: 30px;
                    margin-bottom: 60px;
                }

                .mail {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    font-size: 22px;

                    .mail-direction a{
                        text-decoration: none;
                        color: #FAFAFA;
                        line-height: 1.3;
                    }
                }

                .ubicacion {
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    font-size: 22px; 
                    margin-top: 45px;                  
                }
            }
        }

        .formulario {

            form {

                .form-container {
                    display: flex;
                    flex-direction: column;

                    .fila {
                        border-bottom: 1px dashed #FAFAFA;
                        margin-top: 55px;

                        input {
                            border: none;
                            font-size: 26px;
                            font-family: "Inter";
                            background-color: transparent;
                            letter-spacing: 1.5px;
                            position: relative;
                            top: -20px;
                            color: #595959;
                        }

                        input.button {
                            background-color: #FAFAFA;
                            border-radius: 75px;
                            font-size: 21px;
                            color: #010101;
                            letter-spacing: 0px;
                            width: 135px;
                            height: 46px;
                            text-align: center;
                            position: relative;
                            left: 200px;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    display: flex;
    background-color: #104DE5;    
    margin: 0 auto;
    align-items: center;
    color: #FAFAFA;
    justify-content: space-around;
    gap: 50px;
    padding: 15px 0 5px;

    .texto {
        font-size: 22px;
    }

    .redes {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 22px;
    }

    .navigation-top {
        position: fixed;
        bottom: 140px;
        right: 60px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {

    .hidden-dk {
        display: block;
    }
    
    .hidden-mb {
        display: none !important;
    }
}